body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  background-color: #f7f7f7 !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.login-form-forgot {
  float: right;
  margin-top: -8px;
}
.ant-col-rtl .login-form-forgot {
  float: left;
}
.login-form-button {
  width: 100%;
}

.loginform {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f5f5f5;
  min-width: 250px;
  padding: 15px;
  padding-top: 30px;
}

.logo {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pageHeader {
  color: orange;
  font-size: 17px;
  padding-top: 10px;
  font-weight: bold;
  position: fixed;
  background-color: #003049;
  width: 100%;
  height: 52px;
  display: flex;
}

.site-layout-background {
  padding: 0px !important;
}

.topBar {
  position: absolute;
  float: right;
}

.ant-layout-content {
  margin-top: 44px;
  padding: 25px 16px 0px;
  z-index: 1;
  background-color: #f7f7f7;
}

.circle_card {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  width: 45px;
  height: 45px;
}

.cardg {
  display: flex;
  justify-content: center;
  background-color: #081a51;
}

.recentActivity {
  height: 150px;
  background-color: white;
  padding: 10px;
}

.addNewBuildingModal {
  top: 20px !important;
  width: 60% !important;
}

@media (max-width: 992px) {
  .addNewBuildingModal {
    width: 90% !important;
  }
}
/* .attachFiles {
  max-width: 250px;
  height: 150px;
  border: 1px dotted #081a51;
  display: fixed;
} */
.site-custom-tab-bar {
  background-color: #fafafa;
  margin-bottom: 3px !important;
}

.ant-tabs-nav {
  width: 100% !important;
}

.ant-tabs-tab {
  display: block;
  flex: 1;
  /* text-align: center !important; */
  padding-left: 8px !important;
}

.ant-tabs-nav > div:nth-of-type(1) {
  display: unset !important;
  width: 100% !important;
}

.ant-tabs-tab + .ant-tabs-tab {
  margin: 0px !important;
}
.ant-tabs-content-holder {
  background-color: white !important;
  min-height: 300px !important;
  height: 100% !important;
}

.ant-tabs-top {
  height: 100% !important;
}

thead[class*="ant-table-thead"] th {
  background-color: #003049 !important;
  color: orange !important;
}

.ant-btn-primary {
  background-color: #003049 !important;
  color: orange !important;
  border-color: #081a51 !important;
}

.ant-btn-primary:hover {
  background-color: #002f49da !important;
  color: orange !important;
  border-color: #081a51c6 !important;
}

.ant-menu.ant-menu-dark .ant-menu-item-selected.itemStyle {
  background-color: rgba(0, 0, 0, 0.32) !important;
}

.ant-menu-dark .ant-menu-item-selected .ant-menu-item-icon,
.ant-menu-dark .ant-menu-item-selected .anticon,
.ant-menu-dark .ant-menu-item-selected .ant-menu-item-icon + span,
.ant-menu-dark .ant-menu-item-selected .anticon + span {
  color: orange !important;
}

.ant-modal-title,
.ant-modal-close-x,
.ant-modal-header {
  background-color: #003049 !important;
  color: orange !important;
}

.popover-button {
  color: orange;
  margin-top: 5px;
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}

#components-dropdown-demo-arrow .ant-btn {
  margin-right: 8px;
  margin-bottom: 8px;
}
.ant-row-rtl #components-dropdown-demo-arrow .ant-btn {
  margin-right: 0;
  margin-bottom: 8px;
  margin-left: 8px;
}
